<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Request header parser microservice</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>
      Request Header Parser
    </h1>
    <div class="container">
      
    
    <h2>
    User stories:
    </h2>
    <ul>
      <li> I can get the IP address, language and operating system for my browser.</li>
    </ul>



    <h2>
      Example usage:
    </h2>
    <p>
      <code>https://request-header-parser17.glitch.me/whoami</code>
    </p>
    
    
    <h2>
    Example output:
    </h2>
    <p>
      <code>{
        "ipaddress": "107.293.128.188",
        "language": "en-US",
        "software": "Windows NT 10.0; Win64; x64"
      }</code>
    </p>
    </div>
    <footer>&copy; vikrant17</footer>
  </body>
</html>
